certifi==2023.5.7
charset-normalizer==3.1.0
colorama==0.4.6
dropbox==11.36.0
idna==3.4
numpy==1.24.2
pandas==2.0.0
ply==3.11
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
requests==2.30.0
six==1.16.0
stone==3.3.1
tqdm==4.65.0
tzdata==2023.3
urllib3==2.0.2
certifi==2023.5.7
charset-normalizer==3.1.0
colorama==0.4.6
dotenv-cli==3.1.1
dropbox==11.36.0
idna==3.4
numpy==1.24.2
pandas==2.0.0
ply==3.11
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
requests==2.30.0
six==1.16.0
stone==3.3.1
tqdm==4.65.0
tzdata==2023.3
urllib3==2.0.2
